body {
    background-color: black;
    color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Header */
table.header{
    width: 100%;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

table.header tr td {
    width:16%;
}   

/*--------------------------------------------------------------------------------------------------------*/
/* Anchors */
a {color:gainsboro; border-bottom: 1px dotted gold;}
a:link {text-decoration: none;}
a:active {font-weight: bold;}
a:visited {color:gainsboro;}
a:hover {
    color:gold;
    text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Found the glow effect here https://www.proglobalbusinesssolutions.com/css-hover-effects/ */
table.header a {
    color:gainsboro;    
    transition: .5s; 
    border-radius: 50%;
    border-bottom: none;
    font-weight: bold;
}
table.header a:before{  
    background: gold;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;

    border-radius: 50%;
}
table.header a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px gold;
    }
table.header a:hover {
    color: gold;
    box-shadow: 0 0 5px gold;
    text-shadow: 0 0 5px gold;
}

/*--------------------------------------------------------------------------------------------------------*/
/* shared styles */

h1 {
    color: goldenrod;
    font-weight:bolder;
    font-size:x-large;
}
h2 {
    color: goldenrod;
    font-weight:bold;
    font-size:large;
}

span.footer {
    font-size: x-small;
    vertical-align: bottom;
}

div.flashes_container {
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: center;
}
*.flashes {
    border: whitesmoke 2px solid;
    background-color: #202020;
    width: 80%;
    color: goldenrod;
    padding: 2px;
}
LI.flashitem_error {
    color: crimson;
}
LI.flashitem_success {
    color:forestgreen;
}


#currentstatus {
    background-color: #202020;
    width: 200px;
    height:50px;
    font-size: x-small;
}
/* **************************************************************************************************************** */
/* Home page*/

div.uploader {
    background-color: #202020;
    min-width: 400px;
    max-width: 600px;

    margin:20px;
    padding: 10px;

    border: solid 1px darkgoldenrod;
}

/* **************************************************************************************************************** */
/* Process page*/


#filebody{
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;

    min-width: 200px;

    font-size: x-small;
    overflow: scroll;
    max-height: 300px;
    background-color: #202020;

    padding: 5px;
}

table.process {
    width: 90%;
}
table.process tr td {
    width:50%;
    border: slategray 1px solid; 
    vertical-align: top;
}


table.actions tr td {
    border:none;
}
table.actions tr td.left {
    width:100px ;
}
table.actions button {
    width:100%;
    min-height: 50px;
}


div.custom-cmd button{
    min-height: 50px;
    min-width: 100px;
}
div.custom-cmd input{
    min-width: 400px;
    min-height: 50px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: larger;
    background-color: lightyellow;
}


div.footer{
    text-align: center;
    font-size: x-small;

    position:fixed;
    bottom:0;

    width:100%;
    background-color: #303030;

}

img.thumbnail{
    min-width: 300px;
    max-width: 100%;
}
/* **************************************************************************************************************** */
/* Replay page*/

.replaylist {
    background-color: #202020;
    min-width: 400px;
    max-width: 600px;

    margin:20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: solid 1px darkgoldenrod;
}

.replayBlockList {
    background-color: #202020;
    display: flex;
    flex-flow: row wrap;

    padding: 10px;
}

.replayBlock {
    background-color: #404040;
    border: solid 1px darkgoldenrod;
    min-width: 120px;
    max-width: 120px;
    font-size: x-small;
    text-align: center;
    
    margin:10px;
    padding: 10px;
}
.replayBlock img {
    width: 100px;
}