{% extends 'master01.html' %}

{% block pagename %} Device {% endblock %}

{% block contents %} 
<h1>Device management</h1>

<form id="theForm" method="post" action="/device">

<table class="process">
    <tr>
        <td>
            <h2>Registered settings</h2>
            <div class="settings" >    
{% autoescape false %}
{{settings}}
{% endautoescape %}
</div>
        </td>
        <td>
            <h2>Actions</h2>
                <table class="actions">
                    <tr>
                        <td><button type="button" onClick="clickConfirm('action', 'status', '');"> Get <b>ℹ️ current</b> status</button></td>
                        <td>Ask for current status (?)</td>
                    </tr>
                    <tr>
                        <td><button type="button" onClick="clickConfirm('action', 'goto-origin', '');"> Go to <b>🏠 origin</b> [0;0]</button></td>
                        <td>Go to origin (G0 X0Y0)</td>
                    </tr>
                    <tr>
                        <td><button type="button" onClick="clickConfirm('action', 'change-port', 'Confirm changing serial port?');"> Change the <b>🎯 target serial port</b></button></td>
                            <td>Change current target port to: 
    <select name="newtarget">
        {% for p in ports %}
        <option value="{{p}}">{{p}}</option>
        {% endfor %}
    </select>

                            </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td><button type="button" onClick="clickConfirm('action', 'resume', '');"> <b>🔂 Resume</b> activities of the device (if it's on HOLD state)</button></td>
                        <td>Because sometimes things don't go as planned, if the device is in HOLD state (after an issue it detected), try to make it resume and go back to IDLE.</td>
                    </tr>
                    <tr>
                        <td><button type="button" onClick="clickConfirm('action', 'disconnect', '');"> <b>🔌 Disconnect</b> from the device</button></td>
                        <td>Because sometimes things don't go as planned, disconnect from serial port</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                </table>

                <h2>Custom commands</h2>
                <div class="custom-cmd">
                    <input type="text" value="" name="cmd" /><button type="button" onClick="clickConfirm('action', 'cmd', '');"> <b>📨Send</b></button>
                </div>
                
                <div class="helper-cmd">
                    <ul>
                        <li>G0 X...Y... goes to X,Y with laser off</li>
                        <li>G1 same as above BUT WITH LASER ON!</li>
                        <li>Fxxxx sets the move speed in unit per minute (xxx=1800 == 30mm/sec)</li>
                        <li>Sxxx sets the laser power in per thousands (xxx=600 == 60.0%)</li>
                        <li>? is current status</li>
                        <li>$ is help and settings</li>
                        <li>! is HOLD</li>
                        <li>~ is resume</li>
                        <li><a href="https://github.com/gnea/grbl/blob/master/doc/markdown/commands.md" target="_blank">GRBL commands explained</a></li>
                    </ul>
                </div>
        </td>
    </tr>
</table>


</form>

{{ dbg }}
{% endblock %}
