{% extends 'master01.html' %}

{% block pagename %} Homepage {% endblock %}

{% block contents %} 
<h1>Welcome to GRBL WebStreamer</h1>
By AlanFromJapan / MIT license / Full source code here <a href="https://github.com/AlanFromJapan/GrblWebStreamer">on Github</a>.<br/>
This application is not approved nor affiliated with GRBL or anyone.<br/>
<br/>
<div class="uploader">
  <h2>Upload a GBRL file</h2>
  Pick a file to process (*.nc or *.gc files only):<br/><br/>
  <form method="post" enctype="multipart/form-data" action="upload-file">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
</div>
{{ dbg }}

<br/>
<br/>
<br/>
<br/>
<br/>
<span class="footer">
Favicon provided by <a target="_blank" href="https://icons8.com/icon/4089/laser-beam">Laser Beam</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</span>
{% endblock %}
