<html>
  <head>
    <title>GRBL WebStreamer - {% block pagename %} {% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons8-laser-beam-32.png') }}">
    <script type="text/javascript" src="/js/utils.js"></script>
  </head>
<body>

<table class="header">
  <tr>
    <td><a href="/">Home</a></td>
    <td><a href="/device">Device</a></td>
    <td><a href="/replay">Replay</a></td>
    <td><a href="/OS">OS</a></td>
    <td><a href="/logs">Logs</a></td>
    <td><div id="currentstatus"></div></td>
  </tr>
</table>
<br/>
<br/>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="flashes_container">
    <div class="flashes">
      ℹ️ Info
      <ul >
      {% for category, message in messages %}
        <li class="flashitem_{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
{% endwith %}


{% block contents %} {% endblock %}

<div class="footer">Made by AlanFromJapan (started March2023) ~ MIT License ~ <a href="https://github.com/AlanFromJapan/GrblWebStreamer" target="_blank">Source code on GitHub</a></div>
<script type="text/javascript">

  updateCurrentStatus();

</script>
</body>