{% extends 'master01.html' %}

{% block pagename %} File processor {% endblock %}

{% block contents %} 
<h1>File process [{{filename}}]</h1>


<form id="theForm" method="post" >

<table class="process">
    <tr>
        <td>
            <h2>File content</h2>
            <div id="filebody" >{{filebody}}</div>
        </td>
        <td>
            <h2>Actions</h2>
                <table class="actions">
                    <tr>
                        <td class="left"><button type="button" onClick="clickConfirm('action', 'frame', '');"><b>Frame</b> the work zone</button></td>
                        <td>Goes around the border of the work</td>
                    </tr>
                    <tr>
                        <td class="left"><button type="button" onClick="clickConfirm('action', 'simulate', 'Are you sure? You won\' be able to stop it until the end.');"><b>Simulate</b> the job</button></td>
                        <td>Runs the job but dynamically overlay the laser power to 1% (visible but not engraving)</td>
                    </tr>
                    <tr>
                        <td class="left"><button type="button" onClick="clickConfirm('action', 'burn', 'Are you sure? You won\' be able to stop it until the end.\r\nThis is FOR REAL with REAL LASER ON this time.');"><b>Burn</b> the job</button></td>
                        <td>Runs the job <strong>for real</strong> on the device</td>
                    </tr>
                </table>
                
        </td>
    </tr>
</table>

</form>

<script lang="javascript">


//do first because the semicolon will miss with the innertext of the next matches 
highlight(";.+", "grey");
//Move actions
highlight("G\\d+", "orange");
//Settings
highlight("M\\d+", "limegreen");
//Laser power
highlight("S\\d+", "pink");
//Move speed
highlight("F\\d+", "yellow");


</script>    
{{ dbg }}
{% endblock %}
