{% extends 'master01.html' %}

{% block pagename %} File processor {% endblock %}

{% block contents %} 
<h1>Processing [<span class="process_filename">{{filename}}</span>]</h1>


<form id="theForm" method="post" >

<table class="process">
    <tr>
        <td>
            <h2>Preview thumbnail</h2>
            <img src="/thumbnails/{{filename}}.png" class="thumbnail"/>
        </td>
        <td>
            <h2>Actions</h2>
                <table class="actions">
                    <tr>
                        <td class="left"><button id="btnFrame" type="button" onClick="clickConfirm('action', 'frame', '');"><b>🔲 Frame</b> the work zone</button></td>
                        <td>Goes around the border of the work</td>
                    </tr>
                    <tr>
                        <td class="left"><button id="btnFrameCornerPause" type="button" onClick="clickConfirm('action', 'frameCornerPause', '');"><b>📍 Show the 4 corners</b> with small pause</button></td>
                        <td>Goes to the 4 corners of the job (faster that frame function) and pause there for a few seconds.</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><button id="btnBurn" type="button" onClick="clickConfirm('action', 'burn', 'Are you sure? You won\' be able to stop it until the end.\r\nThis is FOR REAL with REAL LASER ON this time.');"><b>🔥 Burn</b> the job</button></td>
                        <td>Runs the job <strong>for real</strong> on the device</td>
                    </tr>
                    <tr>
                        <td class="left"><button id="btnStop" type="button" disabled="True" onClick="clickConfirm('action', 'stop', 'Are you sure? This will stop the laser.');"><b>✋ Stop</b> the job</button></td>
                        <td>In case of emergency or whatever, click here to stop the job in the middle (will function for BURN only).</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><button id="btnDelete" type="button" onClick="clickConfirm('action', 'deletefile', 'Sure you want to delete the file? You will have to reupload it.');"><b>🗑️ Delete</b> the file</button></td>
                        <td>Deletes the file from disk.</td>
                    </tr>
                </table>            
        </td>
    </tr>
    <tr>
        <td>
            <h2>File content (top 100 lines) (file is {{ filesize }}kB)</h2>
            <div id="filebody" >{{filebody}}</div>
        </td>
        <td>
            <h2>Preview actions</h2>
            <table class="actions">
                <tr>
                    <td class="left"><button id="btnRegenThumb" type="button" onClick="clickConfirm('action', 'regen_thumbnail', '');"><b>📐 Regenerate</b> the thumbnail</button></td>
                    <td>In case it is missing or something happened, click the button to <strong>regenerate the thumbnail</strong> for this job.</td>
                </tr>     
                <tr>
                    <td class="left"><button id="btnSimulate" type="button" onClick="clickConfirm('action', 'simulate', 'Are you sure? You won\' be able to stop it until the end.');"><b>🔍 Simulate</b> the job</button></td>
                    <td>Runs the job but dynamically overlay the laser power to 1% (visible but not engraving)</td>
                </tr> 
            </table>
        </td>
    </tr>
</table>

</form>

<script lang="javascript">


//do first because the semicolon will miss with the innertext of the next matches 
highlight(";.+", "grey");
//Move actions
highlight("G\\d+", "orange");
//Settings
highlight("M\\d+", "limegreen");
//Laser power
highlight("S\\d+", "pink");
//Move speed
highlight("F\\d+", "yellow");



function updateButtons(){
    if (latestStatus == null)
        return;
    var btnFrame = document.getElementById("btnFrame");
    var btnFrameCorners = document.getElementById("btnFrameCornerPause");
    var btnSimulate = document.getElementById("btnSimulate");
    var btnBurn = document.getElementById("btnBurn");
    var btnDelete = document.getElementById("btnDelete");
    var btnRegenThumb = document.getElementById("btnRegenThumb");
    var btnStop = document.getElementById("btnStop");

    en = latestStatus["status"] == "IDLE";
    panade = latestStatus["status"] == "NOT_FOUND" || latestStatus["status"] == "ERROR";

    btnFrame.disabled = panade || !en;
    btnFrameCorners.disabled = panade || !en;
    btnSimulate.disabled = panade || !en;
    btnBurn.disabled = panade || !en;
    btnDelete.disabled = panade || !en;
    btnRegenThumb.disabled = panade || !en;

    //REVERSE logic for this one
    btnStop.disabled = panade || en;
}

//do once 
updateButtons();

//..and repeat update buttons based on latest status fectched from the js in master01.html
const intervalButtons = setInterval(function() {
   // method to be executed;
   updateButtons();
 }, 1000);
  

</script>    
{{ dbg }}
{% endblock %}
