{% extends 'master01.html' %}

{% block pagename %} Replay files {% endblock %}

{% block contents %} 
<h1>Commands</h1>


<form id="theForm" method="post" >
    <table class="process">
        <tr>
            <td>
                <table class="actions">
                    <tr>
                        <td>
                            <button type="button" onClick="clickConfirm('action', 'deleteall', 'Are you SURE you DELETE all the uploaded GRBL files?');"><b>🗑️ Delete all</b> GRBL files</button>
                        </td>
                        <td>
                            <button type="button" onClick="clickConfirm('action', 'deleteall1w', 'Are you SURE you DELETE all the uploaded GRBL files OLDER THAN 1 WEEK?');"><b>🗓️ Delete</b> GRBL files <b>older than 1 week</b></button>                
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

<h1>Uploaded Files</h1>


{% autoescape false %}
  {{ pagecontent }}
{% endautoescape %}  

{{ dbg }}
{% endblock %}
